$color-primary: red;
$color-secondary:blue;
$color-tertiary: green;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

div{
    border: 1px solid $color-primary ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 10px;
    font-size: 1rem;

    h1{
        padding-bottom: 2px;
        color: $color-tertiary;
        border-bottom: 1px solid $color-tertiary;
    }

    section{
        @include flex-center;
        margin: 20px;

        article {
            max-width: 23%;
            min-height: 130px;
            padding: 10px 30px;
            border: 1px solid $color-tertiary;
        }

        article:nth-child(odd){
            color: $color-secondary;
        }

         article:nth-child(even){
            color: $color-primary;
        }
    }

    section:last-child{
        width: 100%;
        @include flex-center;
        justify-content: flex-start;
        margin-top: 0;
        margin-bottom: 20px;
        padding: 0 60px;

        article{
            border: 1px solid $color-secondary;
            color: $color-tertiary;
            min-width: 100% !important;
        }
    }
}
